@use "../variables";
@use "../breakpoints";

.profile-car-card {
  cursor: pointer;
  border-radius: variables.$borderRadius5;
  overflow: hidden;

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__images {
    overflow: hidden;

    .swiper {

      .swiper-wrapper {
        align-items: stretch;
      }

      .swiper-slide {
        height: auto;
      }
    }
  }

  &__image {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;

    &--bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
      filter: blur(1rem);
    }

    .ant-image {
      height: 100%;
    }

    .ant-image-img {
      height: 100%;
      max-height: 20rem;
      width: auto;
    }
  }

  &__no-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-top: 1px solid variables.$colorSecondary;
    border-left: 1px solid variables.$colorSecondary;
    border-right: 1px solid variables.$colorSecondary;
    min-height: 20rem;
  }

  &__info {

    &--name {
      font-size: 2rem;
    }

    &--year {
      font-size: 1.4rem;
    }

    &--number {
      font-size: 1.4rem;
    }
  }

  &__footer {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    padding: 2rem 1.5rem;
    background-color: variables.$colorSecondary;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    button {
      flex: 0 1 50%;
      padding: 1rem;

      &.delete {
        background-color: variables.$red;
        border-color: variables.$red;

        svg {
          color: variables.$white;
          transition: color variables.$transition;
        }

        &:hover {
          background-color: variables.$white !important;
          border-color: variables.$red !important;

          svg {
            color: variables.$red !important;
          }
        }
      }
    }
  }
}

.confirm-delete-car {

  &__title {
    font-size: 2rem;
    line-height: 1.1;
  }

  &__actions {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    gap: 1rem;
    max-width: 80%;

    button {

      &.agree {
        flex: 0 1 40%;
      }

      &.disagree {
        flex: 0 1 60%;
        background-color: variables.$red;
        border-color: variables.$red;
        color: variables.$white;

        &:hover {
          border-color: variables.$red !important;
          background-color: variables.$white !important;
          color: variables.$red !important;
        }
      }
    }
  }
}
