@use "../breakpoints";
@use "../variables";

.burger {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 3rem;
  height: 2rem;
  transition-duration: 1s;
  cursor: pointer;

  span {
    height: .3rem;
    width: 100%;
    background-color: variables.$colorPrimary;
    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      height: .3rem;
      width: 100%;
      background-color: variables.$colorPrimary;
      content: "";
      transition-duration: .25s;
      transition: transform .25s, top .25s .25s;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }

  }

  &.active {

    span {
      transition-duration: 0.1s;
      transition-delay: .25s;
      background: transparent;

      &::before,
      &::after {
        top: 0;
      }

      &::before {
        transition: top .25s, transform .25s .25s;
        transform: rotateZ(-45deg);
      }

      &::after {
        transition: top 0.4s, transform .25s .25s;
        transform: rotateZ(45deg);
      }
    }
  }
}
