@use "../variables";
@use "../breakpoints";

.cooperation-form {
  background-color: variables.$colorPrimaryDark;
  padding: 10rem 0;

  &__body {}

  &__title {
    color: variables.$white;
    text-align: center;
  }

  &__form {
    margin: 6rem 0 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;
    transition: gap variables.$transition;

    @include breakpoints.xxl {
      gap: 1rem;
    }

    @include breakpoints.md {
      gap: 2rem;
      flex-direction: column;
    }

    .ant-form-item {
      flex: 1;
      //height: 4.2rem;
    }
    input {
      //height: 4.2rem;
      background-color: variables.$white;
    }

    .ant-form-item-explain-error {
      color: variables.$white;
      font-weight: 500;
      font-size: clamp(1.3rem, 3vw, 1.5rem);
    }
  }

  &__submit {
    width: 100%;
    padding: 1.2rem 2rem !important;
  }

  &__note {
    margin: 2.5rem 0 0 0;
    font-weight: 300;
    font-size: clamp(1.15rem, 2vw, 1.4rem);
    text-align: center;
    color: variables.$white;


    a {
      color: inherit;
      text-decoration: underline;
      text-underline-offset: .35rem;
    }
  }
}
