@use "../variables";
@use "../breakpoints";


.header-mobile {


  &__nav {

    .nav-menu {

      &__list {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem 0;
      }

      .nav-submenu {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        align-items: flex-start;
        padding-inline: 0;
        padding-block: 0;
        width: auto;
        background: none;
        border-radius: 0;
        backdrop-filter: none;
        gap: 0;
        padding-left: 2rem;
      }
    }

  }
}
