@use "../variables";
@use "../breakpoints";

.header {
  position: fixed;
  top: 1rem;
  transform: translateY(-150%);
  opacity: 0;
  width: 100%;
  z-index: 6;
  will-change: transform;
  transition: background-color variables.$transition,
  box-shadow variables.$transition, opacity variables.$transition, transform variables.$transition;

  &.pm {
    background-color: transparent;
  }

  &.fixed {
    box-shadow: 0 0 1.5rem 0 #e0e0e0b5;
  }

  &__inner {
    max-width: 95%;
    margin: 0 auto;
    padding-block: 1.4rem;
    padding-inline: 1.6rem;
    background-color: #ffffffa3;
    backdrop-filter: blur(1rem);
    border-radius: variables.$borderRadius15;
    box-shadow: 0 0 1.5rem .5rem #969696a1;

    @include breakpoints.tablet {
      padding-block: 1.6rem;
      padding-inline: 2rem;
    }

    @include breakpoints.w1250 {
      padding-block: 2rem;
      padding-inline: 3rem;
    }
  }

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 0 2rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    max-width: max-content;
  }

  &__nav {
    margin-left: auto;
    display: none;

    @include breakpoints.tablet {
      display: block;
    }
  }

  &__burger {
    margin-left: auto;
    display: block;

    @include breakpoints.tablet {
      display: none;
    }
  }

  /*&__avatar {

    &--not {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 100%;

      span {
        color: variables.$white;
        font-size: 1.4rem;
      }
    }
  }

  &__logo {
    display: flex;
    flex: 0 0 clamp(14rem, 12vw, 20rem);
    width: 100%;
  }

  &__burger {
    flex: 0 0 3rem;

    &_desktop {

      margin: 0 0 0 5rem;

      @include breakpoints.tablet {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @include breakpoints.tablet {
        display: block;
      }
    }
  }

  &__socials {
    margin: 0 0 0 2rem;
    flex: 0 0 7.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 7.4rem;
    transform: scaleX(1);
    transform-origin: right;
    visibility: visible;
    transition: transform variables.$transition, max-width variables.$transition, visibility variables.$transition, margin variables.$transition;

    &.hide {
      margin: 0;
      max-width: 0;
      transform: scaleX(0);
      visibility: hidden;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__menu {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: clamp(45rem, 95vw, 147rem);
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: variables.$white;
    border-radius: 0;
    z-index: 99;
    overflow: hidden;
    transition: max-height variables.$transition,
                opacity variables.$transition,
                visibility variables.$transition,
                border-radius variables.$transition;

    &.show {
      opacity: 1;
      visibility: visible;
      border-radius: 0 0 variables.$borderRadius15 variables.$borderRadius15;
      transition: max-height variables.$transition,
      opacity variables.$transition,
      visibility variables.$transition,
      border-radius variables.$transition;
    }

    &_body {
      display: grid;
      grid-template-columns: 1fr 14rem;
      padding: 2rem 0;
    }

    &_nav {

      .nav-menu__list {


      }
    }

    &_socials {

      display: flex;
      align-items: center;
      justify-content: center;

      &_list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
      }

      &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p {
          user-select: none;
          text-align: center;
          font-size: 1.4rem;
          white-space: nowrap;
          font-weight: 500;
        }

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: transform variables.$transition;

          &:hover {
            transform: scale(1.15);
          }
        }
      }
    }
  }

  &__auth {
    display: flex;
    justify-content: center;
    min-width: 20rem;
    max-width: max-content;
  }*/
}

.header-mobile {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height variables.$transition,
  opacity variables.$transition, visibility variables.$transition;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__inner {
    padding-block: 1rem 0;
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
  }

  &__nav {

    .nav-menu {

      &__link {
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem 0;
      }

      .nav-submenu {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        align-items: flex-start;
        padding-inline: 0;
        padding-block: 0;
        width: auto;
        background: none;
        border-radius: 0;
        backdrop-filter: none;
        gap: 0;
        padding-left: 2rem;
      }
    }

  }
}
