@use "../variables";

.header {
  position: sticky;
  top: 0;
  padding-block: clamp(1.8rem, 2vw, 2.4rem);
  background-color: variables.$white;
  transition: background-color variables.$transition;
  z-index: 99;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  &__logo {
    display: flex;
    max-width: clamp(14rem, 12vw, 20rem);
    width: 100%;
  }

  &__nav {}

  &__socials {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

}
