@use "../variables";
@use "../breakpoints";

.nav-menu {

  .link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: variables.$black;
    padding-block: .7rem;
    padding-inline: .7rem;
    white-space: nowrap;
    cursor: pointer;

    @include breakpoints.mobile {
      font-size: 1.8rem;
    }

    @include breakpoints.semiDesktop {
      font-size: 2rem;
      padding-inline: 1.2rem;
    }

    &:hover {
      color: variables.$blue;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    @include breakpoints.semiDesktop {
      gap: 0 1.5rem;
    }

    @include breakpoints.w1250 {
      gap: 0 2rem;
    }
  }

  &__item {
    position: relative;

    &.is-open .nav-submenu {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  &__link {}

  .nav-submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 24rem;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(1rem);
    z-index: 6;
    display: flex;
    flex-direction: column;
    gap: .5rem 0;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: variables.$borderRadius15;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: visibility variables.$transition, opacity variables.$transition;

    &__item {}

    &__link {}
  }
}
