@use "../../variables";

.product-item {
  position: relative;
  border-radius: variables.$borderRadius5;
  border: 1px solid variables.$grey-light;
  overflow: hidden;

  &__body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__images {
    position: relative;
    border-radius: variables.$borderRadius5;

    .swiper {

      .swiper-slide {
        position: relative;
        width: 100% !important;
        padding: 2rem 0 3rem;
        background-color: variables.$white;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 35rem;
          object-fit: contain;
          pointer-events: none;
          user-select: none;
          border-radius: variables.$borderRadius5;
          overflow: hidden;
        }
      }

      .swiper-pagination {
        bottom: 1rem;

        .swiper-pagination-bullet-active {
          background-color: variables.$colorPrimary;
        }
      }
    }

  }

  &__status {
  }

  &__info {
    padding: 1.2rem 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &__type {
    font-weight: 600;
    font-size: 1.8rem;
  }

  &__title {
    font-weight: 500;
    font-size: 2rem;
    margin: 0 0 .5rem 0;
  }

  &__price {
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      &:nth-child(1) {
        font-weight: 300;
        font-size: 1.8rem;
      }

      &:nth-child(2) {
        font-weight: 500;
        font-size: 1.8rem;
        color: variables.$red;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
