@use "../../variables";

.products-filter {
  border-radius: variables.$borderRadius5;
  background-color: variables.$colorSecondary;
  overflow: hidden;
  padding: 1rem 1rem;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__category {
    border-radius: variables.$borderRadius5;
    background-color: variables.$white;
    padding: 1rem .5rem;

    h4 {
      font-size: 2rem;
    }

    &_values {
      margin: 1rem 0 0 0;

    }

  }

  &__reset {
    margin: 2rem 0 0 0;
  }

}
