@use "../breakpoints";
@use "../variables";

.products,
.product-list,
.product-detail {
  position: relative;
  flex: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    inset: 0;
    background-image: linear-gradient(
                    135deg,
                    #2c2928 0,
                    #2c2928 33%,
                    #e31e23 33%,
                    #e31e23 66%,
                    #fdda02 66%,
                    #fdda02 100%,
    );
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: #ffffffe8;
  }
}

.products {

  &__title {
  }

  &__grid {
    margin: 2rem 0 5rem;
    display: grid;
    //grid-template-columns: 30rem 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;

    /*@include breakpoints.tablet {
      grid-template-columns: 20rem 1fr;
    }

    @include breakpoints.desktop {
      grid-template-columns: 1fr;
    }*/
  }

  &__filter {
    display: none;
    position: relative;

    @include breakpoints.desktop {
      position: fixed;
      width: 100%;
      top: auto;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
    }

    .products-filter {
      position: sticky;
      top: 10rem;
    }
  }

  &__content {
    margin-top: 5rem;

    @include breakpoints.desktop {
      margin-top: 10rem;
    }

    .products {

      &__list {
      }

      &__item {
        flex: 0 1 100%;
        min-width: auto;
        height: 28rem;

        @include breakpoints.tablet {
          flex: 1 1 calc((100% - 2rem) / 2);
          height: 33rem;
        }

        @include breakpoints.laptop {
          flex: 0 1 calc((100% - 6rem) / 4);
        }
      }
    }
  }

  .products-all-list {
    margin-top: 3rem;

    @include breakpoints.mobile {
      margin-top: 5rem;
    }

    @include breakpoints.desktop {
      margin-top: 10rem;
    }
  }
}


.product-list {

  &__body {
  }

  &__grid {
    margin-top: 3rem;
    display: grid;
    align-items: stretch;
    grid-template-columns: 100%;
    gap: 2rem;

    @include breakpoints.mobile {
      margin-top: 5rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoints.tablet {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }

    @include breakpoints.desktop {
      margin-top: 10rem;
    }
  }

  &__empty {
    margin-top: clamp(2rem, 4vw, 4rem);
  }
}

.product-item {
  position: relative;
  overflow: hidden;
  padding: 0;

  /*&::before {
    content: "";
    position: absolute;
    inset: 0;
    //background-color: variables.$light-blue;
    background-color: variables.$white;
    opacity: .95;
    //filter: blur(10px);
  }*/

  &:hover {
    .product-item__image img {
      transform: scale(1.025);
    }
  }

  .product-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(1.2rem, 5vw, 1.4rem) 0;
    border-radius: variables.$borderRadius15;
    z-index: 1;
    height: 100%;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    overflow: hidden;

    @include breakpoints.mobile {
      height: 35rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
      user-select: none;
      transition: transform variables.$transition;
    }

    a {
      position: absolute;
      inset: 0;
    }
  }

  &__info {
    padding-inline: clamp(1.4rem, 5vw, 2rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1.2rem, 5vw, 1.4rem) 0;
  }

  &__price {

    span {
      line-height: 1;
    }

    .current {
      color: variables.$positive;
      font-size: clamp(1.35rem, 5vw, 1.8rem);
      font-weight: 500;
    }

    .old {
      margin-left: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: variables.$oldPrice;
      text-decoration: line-through;

      @include breakpoints.mobile {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .percent {
      margin-left: .5rem;
      color: variables.$positive;
      font-size: 1.4rem;

      @include breakpoints.mobile {
        font-size: 1.6rem;
      }
    }
  }

  &__name {
    display: block;

    h3 {
      font-size: clamp(1.4rem, 5vw, 1.8rem);
      font-weight: 500;
      color: variables.$black;
    }
  }

  &__footer {
    margin-top: auto;
    padding-inline: clamp(1.4rem, 5vw, 2rem);
    padding-bottom: clamp(1.4rem, 5vw, 2rem);
  }

  &__link {
    width: 100%;
  }
}

.products-all-list {

  &__title {
    font-weight: 500;
  }

  &__grid {
    margin-top: 3rem;
    display: grid;
    align-items: stretch;
    grid-template-columns: 100%;
    gap: 2rem;

    @include breakpoints.mobile {
      margin-top: 5rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoints.tablet {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      gap: 4rem 2rem;
    }
  }
}
