@use "../breakpoints";
@use "../variables";


.products-page {

  &__title {}

  &__grid {
    margin: 2rem 0 5rem;
    display: grid;
    //grid-template-columns: 30rem 1fr;
    grid-template-columns: 1fr;
    gap: 2rem;

    /*@include breakpoints.lg {
      grid-template-columns: 20rem 1fr;
    }

    @include breakpoints.md {
      grid-template-columns: 1fr;
    }*/
  }

  &__filter {
    display: none;
    position: relative;

    @include breakpoints.md {
      position: fixed;
      width: 100%;
      top: auto;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
    }

    .products-filter {
      position: sticky;
      top: 10rem;
    }
  }

  &__content {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoints.lg {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
