@use "../variables";
@use "../breakpoints";

.profile {

  &__title {}

  &__body {}

  &__top {
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 4rem;

    @include breakpoints.sm {
      grid-template-columns: 1fr;
    }
  }

  &__bottom {
    margin-top: 7rem;
  }

  &__avatar {
    max-width: 20rem;
    width: 100%;
    height: auto;

    .ant-avatar {
      width: 100%;
      height: 100%;
    }
  }

  &__user {

    &_form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &_fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &_footer {}
    }
  }

  &__cars {
    grid-area: car_buttons;
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include breakpoints.sm {
      grid-template-columns: 1fr;
    }

    &_button {

    }

    & > h3 {

    }

    &--list {
      display: flex;
      align-items: stretch;
      gap: 1rem;
    }

    &--empty {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 1.6rem;
      }

      button {
        max-width: max-content;
      }
    }
  }
}
