$ff-main: "Martian Mono", monospace;
$ff-secondary: "Montserrat", sans-serif;
$transition: .3s ease-in-out;
$transition2: .5s ease-in-out;


//colors
$white: #ffffff;
$black: #20252C;
$grey-light: #f9f9f9;
$grey: #737373;
$red: #ff4646;
$positive: #10C44CFF;
$oldPrice: #99A3AEFF;
$sale: #f1117e;
$new: #f1cc11;
$colorPrimary: #004c9d;
$blue: #004c9d;
$light-blue: #f4f7fb;
$colorPrimaryDark: #182232;
$colorSecondary: #f8f8f8;


$borderRadius7: .7rem;
$borderRadius10: 1rem;
$borderRadius15: 1.5rem;
$border-radius20: 2rem;
