.time-class {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;

  &__date {
    font-weight: 400;
  }

  &__time {
  }

}

.ant-drawer {
  border: none !important;
  border-color: transparent !important;
}

.ant-input {
  border-bottom: 1px solid $accent-color-light;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 1.6rem;
  transition: border-bottom $transition;
  padding: 0;

  &:hover {
    border-bottom: 1px solid $accent-color;
  }

  &:focus {
    box-shadow: none;
    border-bottom: 1px solid $accent-color;
  }

  &.error {
    border-bottom: 1px solid $error-color;
  }
}

.ant-btn,
.ant-input,
.ant-drawer {
  font-family: inherit !important;
}

.input-antd {
  position: relative;

  .ant-input {
    border: 1px solid $accent-color !important;
    border-radius: $border-radius !important;
    outline: none;
    font-family: inherit;
    font-size: 1.6rem;
    transition: border-bottom 0.3s ease-in-out;
    padding: .85rem 2.6rem .85rem .7rem;
    font-weight: 600 !important;
    color: #4f4f4f !important;

    &.error {
      border-color: $red !important;
    }
  }

  .ant-input-outlined {
    box-shadow: none !important;
  }

  &__clear {
    position: absolute;
    margin-inline: auto;
    inset-inline-end: 1rem;
    inset-block-start: 50%;
    transform: translateY(-50%);
    z-index: 1;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: $accent-color;
    }
  }
}

.select-antd {
  position: relative;

  &__value {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    user-select: none;
  }

  .ant-select {
    box-shadow: none !important;
    border: 1px solid $accent-color !important;
    border-radius: $border-radius !important;
    background-color: #ffffff;
    width: 100%;
    font-size: 1.6rem;
    font-family: inherit !important;
    padding: .7rem;
  }

  .ant-select-selector {
    padding: 0 !important;
    border: none !important;
    outline: none !important;
    font-weight: 600;
    color: rgb(79, 79, 79);
    border-radius: 0 !important;
    background: none !important;
    box-shadow: none !important;
  }

  .ant-select-selection-search-input {
    font-weight: 600 !important;
  }

  .ant-select-selection-placeholder {
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    inset-inline-start: 0 !important;
  }

  .ant-select-selection-item {
    padding-inline-end: 0 !important;
  }

  .ant-select-selection-search {
    margin-inline-start: 0 !important;
  }

  .ant-select-selection-wrap {

  }

  .ant-select-single {
    height: auto !important;
  }

  .ant-select-multiple .ant-select-selection-overflow {
    gap: .5rem !important;
    flex-wrap: nowrap !important;
    max-width: 95% !important;
    //padding: 0 2.4rem 0 0 !important;
  }

  .ant-select-multiple .ant-select-selection-item {
    background: $accent-color-light !important;
    padding: .2rem !important;
    margin: 0 !important;
    height: auto;
    color: $white !important;
    font-weight: 400 !important;
  }

  .ant-select-item {

  }

  .ant-select-item-option {

  }

  .anticon-close {
    svg {
      fill: $white !important;
      width: 1.4rem;
      height: 1.4rem;
    }
  }

}

.ant-select-dropdown {

  .rc-virtual-list-scrollbar {
    width: .3rem !important;
  }

  .rc-virtual-list-scrollbar-thumb {
    background: $accent-color !important;
  }

  .ant-select-item-option-content {
    font-family: $ff-main !important;
    font-weight: 500 !important;
    font-size: 1.4rem;
  }
}

.ant-image-preview-mask {
  background-color: rgb(0 0 0 / 60%);
}

.ant-image-preview-progress {
  font-family: $ff-main !important;
  margin-bottom: 16px;
  color: $white;
  font-size: 2rem;
}

.ant-image-preview-switch-left,
.ant-image-preview-switch-right {
  color: $white;
  background: rgb(0 0 0 / 55%);

  &.ant-image-preview-switch-left-disabled,
  &.ant-image-preview-switch-right-disabled {
    opacity: 0;
  }

  &:hover {
    background: rgb(0 0 0 / 50%);
  }
}

.ant-notification-notice-message,
.ant-notification-notice-description {
  font-family: $ff-main !important;
}

.h1 {
  font-size: 3.8rem;
  line-height: 1.4;
  color: $black;
  font-weight: 500;
  text-align: center;

  @include sm {
    font-size: 2.4rem;
  }

}

.style-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.block-blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  pointer-events: none;
  user-select: none; /* Запрещаем выделение текста */
  -webkit-user-select: none; /* Для Safari и других WebKit-браузеров */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Internet Explorer/Edge */
}
