@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$ff-main: "Montserrat", sans-serif;
$transition: .3s ease-in-out;
$border-radius: .5rem;


//colors
$white: #ffffff;
$semi-white: #F4F7FB;
$black: #20252C;
$colorPrimary: #004c9d;


