@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$ff-main: "Montserrat", sans-serif;
$transition: .3s ease-in-out;
$border-radius: .5rem;


//colors
$white: #ffffff;
$black: #20252C;
$grey-light: #eaeaea;
$grey: #737373;
$red: #e60303;
$colorPrimary: #004c9d;
$colorPrimaryDark: #182232;
$colorSecondary: #f8f8f8;


//
$borderRadius5: .5rem;
$borderRadius15: 1.5rem;
