@use "../../variables";
@use "../../breakpoints";


.partners-search {
  position: sticky;
  top: 8rem;
  z-index: 2;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-block: 2.4rem;
  background-color: variables.$white;


  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 2rem;

    @include breakpoints.sm {
      grid-template-columns: 1fr;
    }
  }


  &__input {

  }

  &__select {

  }
}
