@use "../../variables";
@use "../../breakpoints";

.profile-car-form {

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &_fields {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &_footer {
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        max-width: 70%;
      }
    }
  }
}
