@use "../../variables";

.car-card {
  aspect-ratio: 1/1;
  transition: variables.$transition;

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
