@use "../../variables";
@use "../../breakpoints";

.cars-page {

  &__title {
  }

  &__grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 100%;
    align-items: stretch;
    gap: 1rem;

    @include breakpoints.mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoints.tablet {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }


    @include breakpoints.desktop {
      margin-top: 6rem;
    }
  }

  &__not-found {
    margin-top: 3rem;
    font-weight: 600;
    font-size: 3rem;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
}
