@use "../../variables";
@use "../../breakpoints";

.cars-others {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 4rem;
  }

  &__title {

  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;

      @include breakpoints.tablet {
        width: 5rem;
        height: 5rem;
      }

      svg {
        width: 3rem;
        height: 3rem;
        color: variables.$black;

        @include breakpoints.tablet {
          width: 4rem;
          height: 4rem;
        }
      }

      &:hover {

        svg {
          color: variables.$blue;
        }
      }

      &:first-child {
        transform: rotate(180deg);

        @include breakpoints.tablet {
          &:hover {
            transform: rotate(180deg) translateX(.5rem);
          }
        }
      }

      &:nth-child(2) {

        @include breakpoints.tablet {
          &:hover {
            transform: translateX(.5rem);
          }
        }
      }
    }
  }

  &__cars {
    margin-top: clamp(3rem, 5vw, 10rem);

    .swiper{
      overflow: unset;

      .swiper-wrapper {
        align-items: stretch;
      }

      .swiper-slide {
        width: auto;
        height: auto;

        .car-card {
          width: 30rem;
          height: 30rem;

          .car-card__image--main {
            width: auto;
            height: 100%;
            object-fit: contain;
          }

          .car-card__image--bg {
          }
        }
      }
    }


  }
}
