@use "../../variables";
@use "../../breakpoints";

.cars-page {

  &__title {}

  &__grid {
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;

    @include breakpoints.md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
