@use "../../variables";
@use "../../breakpoints";

.cars-page {


  &__title {}

  &__grid {
    margin-top: clamp(2rem, 4vw, 4rem);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;

    @include breakpoints.md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__not-found {
    font-weight: 600;
    font-size: clamp(2rem, 4vw, 4rem);
  }
}
